@property --primary-text-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #ffe400;
}

@property --hover-text-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #FFF;
}

body {
	color: #FFF;
	background-color: #000;
	margin: 0;
}

#introContainer {
	width: 100%;
	height: 84vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 16vh;
}

#introTextContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 328px;
	color: var(--primary-text-color);
}

.introText {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	padding: 2vh 0 2vh 0;
}

#helloText {
	font-size: 8em;
	padding: 6vh 0 6vh 0;
}

#nameText {
	height: 6vh;
	font-size: 3em;
}

#signInOutContainer, #signInButton, #signOutButton {
	height: 2vh;
}

#signOutButton {
	font-size: 1em;
	cursor: pointer;
}

#signOutButton:hover {
	color: var(--hover-text-color);
}

#settingsStartContainer {
	height: 4vh;
	padding-top: 6vh;
	font-size: 2em;
	flex-direction: row;
	justify-content: space-evenly;
}

#settingsButton, #start  {
	cursor: pointer;
}

#settingsButton:hover, #start:hover  {
	color: var(--hover-text-color);
}

#displayContainer {
	display: flex;
	width: 100vw;
	height: 92vh;
	align-items: center;
	justify-content: center;
}

#resultsContainer {
	margin: 12px;
}

.textContainer {
	color: var(--primary-text-color);
	font-size: calc(4vw + 4vh + 2vmin);
	text-align: center;
}

#separator {
	height: 8px;
	background-color: #868686;
	margin: 4vh 4px 4vh 4px;
}