body {
	color: #FFF;
	background-color: #000;
	margin: 0;
}

#introContainer {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 6vw;
}

#introTextContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 32vw;
	color: #ffe400;
}

.introText {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100%;
	margin-bottom: 3vw;
}

#helloText {
	font-size: 10vw;
}

#signInOutContainer, #nameText {
	height: 4vw;
	margin-bottom: 2vw;
}

#nameText {
	font-size: 4vw;
}

#signInButton {
	height: 4vw;
}

#signOutButton {
	cursor: pointer;
}

#displayContainer {
	display: flex;
	width: 100vw;
	height: 92vh;
	align-items: center;
	justify-content: center;
}

#resultsContainer {
	margin: 12px;
}

.textContainer {
	color: #ffe400;
	font-size: calc(4vw + 4vh + 2vmin);
	text-align: center;
}

#separator {
	height: 8px;
	background-color: #868686;
	margin: 4vh 4px 4vh 4px;
}